body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato';
    background-color: #f1f1f1;
}

:root{
    --GOLDEN-YELLOW : #ffcb0d;
    --SLATE-GREEN : #1c302e;
}

@keyframes appear{
    from{
        opacity: .5;
        scale: 0.7;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes appear2{
    from{
        opacity: .5;
        transform: translateX(-100px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appear3{
    from{
        opacity: .5;
        scale: 0.8;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@font-face{
    font-family: 'Lato';
    src: url(../assets/fonts/Lato-Black.ttf) format('truetype'),
        url(../assets/fonts/Lato-BlackItalic.ttf) format('truetype'),
        url(../assets/fonts/Lato-Bold.ttf) format('truetype'),
        url(../assets/fonts/Lato-BoldItalic.ttf) format('truetype'),
        url(../assets/fonts/Lato-Italic.ttf) format('truetype'),
        url(../assets/fonts/Lato-Light.ttf) format('truetype'),
        url(../assets/fonts/Lato-LightItalic.ttf) format('truetype'),
        url(../assets/fonts/Lato-Regular.ttf) format('truetype'),
        url(../assets/fonts/Lato-Thin.ttf) format('truetype'),
        url(../assets/fonts/Lato-ThinItalic.ttf) format('trueetype')
}

.main-page{
    
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0, 0, 0, 0.9)), url(../assets/images/homebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 70vh;
    padding:.8rem 2rem;
    align-items: center;
}

.header{
    position: relative;
    margin-bottom: 5rem;
}

.word {
    font-size: 3.5rem;
    width: 60%;
    position: absolute;
    margin-top: 10rem;
    display: block;
    float: left;
    padding:0 2rem;
}

.word span{
    position: relative;
    overflow: hidden;
    text-align: left;
    float: left;
    clear: both;
}

.word span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(28, 48, 46, 0.5);
}

.word span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--GOLDEN-YELLOW);
}
.word span:before{
    animation: reveal 2s ease forwards;
}

.word span:after{
    background-color: transparent;
    animation: base 2s ease forwards;
} 

@keyframes reveal{
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(111%);
    }
}

@keyframes base{
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(100%);
    }
}

.explore-btn{
    float: right; 
    margin-top: 20rem;
    padding: 0 8rem;
}

.explore{
  background-color: var(--GOLDEN-YELLOW);
  padding: .6rem .8rem;  
  border-radius: 2rem;
  font-size: .8rem;
  color: white;
  text-decoration: none;
  transition: .5s ease-in-out;
  border: 1px solid var(--GOLDEN-YELLOW);
}

.explore:hover{
    background-color: transparent;

}

.contact{
    border: 1px solid var(--GOLDEN-YELLOW);
    padding:.3rem .6rem;
    border-radius: 2rem;
}


.logo{
    float: left;
    display: inline;
    width: 237px;
    height: 75.7px;
}

.nav{
    float: right;
    display: inline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav li{
    display: inline;
    padding: 0 2.5rem;
    list-style-type: none;
    font-size: .9rem;
}

.nav li:last-child{
    padding: 0 1rem;
}

.link{
    color: white;
    text-decoration: none;
    transition: .5s ease-in-out;
}

.link:hover{
    color:var(--GOLDEN-YELLOW);
}

.contact:hover{
    background-color: var(--GOLDEN-YELLOW);
    color: white;
}

.active{
    color: var(--GOLDEN-YELLOW);
    font-size: 1rem;
    transition: .5s ease-in-out
}

.active:hover{
    color: white;
}

.title{
    font-size: 2.2rem;
    color: var(--SLATE-GREEN);
    padding: 2.5rem 6rem;
    padding-bottom: 2rem;
    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

.title2{
    font-size: 2.2rem;
    color: var(--SLATE-GREEN);
    padding: 4rem 6rem;
    padding-bottom: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    animation: appear3 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 20%;
}

/*Card Components*/
.card-container{
    flex-wrap: wrap;
    padding: 0 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom:2rem ;
}

.first-card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/solar-installation.jpg);
    background-size: cover;
    height: 25rem;
    width: 20%;
    border-radius: 5px;
    z-index: 1;
    transition: 1s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.second-card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/solar-maintenance.jpg);
    background-size: cover;
    height: 25rem;
    width: 20%;
    border-radius: 5px;
    transition: 1s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.third-card{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/consultation.jpg);
    background-size: cover;
    height: 25rem;
    width: 20%;
    border-radius: 5px;
    transition: 1s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.fourth-card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(../assets/images/cable-services.jpg);
    background-size: cover;
    height: 25rem;
    width: 20%;
    border-radius: 5px;
    transition: 1s ease; 
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.expertise-title{
    color: white;
    padding:2rem 1.5rem; 
    padding-bottom: .5rem;
}

.expertise{
    background-color: #e8e9eb;
    padding-bottom: 4rem;
}

.details{
    color: white;
    padding:2rem 1.5rem;
    font-size: .7rem;
    line-height: 1.2rem;    
}

.section-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 2rem 6rem;
}

.each-section{
    text-align: left;
    border: 2.5px solid #e8e9eb;
    border-radius: 8px;
    padding: 1.5rem;
    height: 9rem;
    width: 80%;
    animation: appear2 linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.section-icon{
    padding-bottom: 1rem;
}

.section-title{
    color: var(--SLATE-GREEN);
    font-size: .9rem;
}

.content{
    padding: .8rem 0;
    font-size: .8rem;
    opacity: .6;
}

.short-note{
    padding: 0rem 6rem;
    color: var(--SLATE-GREEN);
    font-size: .9rem;
    opacity: .8;
}

.all-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 6rem;
  text-align: center;
  color: white;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.background-container{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../assets/images/solar-background.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
    width: 100%;
    border-radius: 8px;
}

.head-text{
    font-size: 3.2rem;
    padding: 6rem 3rem;
    padding-bottom: 4rem;
}

.small-text{
    font-size: .8rem;
    opacity: 0.8;
    padding: 1.5rem;
    padding-bottom: 6rem;
}

.small{
    font-size: .8rem;
    opacity: 0.8;
    padding: .5rem;
}

.contact-btn{
    padding: .8rem 2rem;
    color: white;
    text-decoration: none;
    font-size: .8rem;
    border: 1px solid var(--GOLDEN-YELLOW);
    border-radius: 2rem;
    background-color: var(--GOLDEN-YELLOW);
    transition: .5s ease-in-out;
}

.stats-contact-btn{
    padding: .8rem 2rem;
    color: white;
    text-decoration: none;
    font-size: .8rem;
    border: 1px solid var(--GOLDEN-YELLOW);
    border-radius: 2rem;
    background-color: var(--GOLDEN-YELLOW);
    transition: .5s ease-in-out;
}

.stats-contact-btn:hover{
    background-color: transparent;
    color: var(--SLATE-GREEN);
}

.stats-contact-btn-container{
    margin-bottom: 4rem;
}

.contact-btn:hover{
    background-color: transparent;
}

.footer {
    background-color: var(--SLATE-GREEN);
    color: #fff; 
    padding: 2rem;
  }

  .contains {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto; 
  }
  

  .logo img {
    width: 118.5px; 
    height: auto;
  }
  
  .small-note {
    font-size: .8rem;
    line-height: 1.5;
    font-weight: normal;
    margin: 10px 0;
    color: var(--GOLDEN-YELLOW);
  }
  
  .small-note b {
    font-weight: bold;
    font-size: .8rem;
    color: white;
  }
  
  .explore-links {
    margin: 20px 0;
  }
  
  .explore-links .top {
    font-size: .8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .quick-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: underline;
  }

  .top{
    color: var(--GOLDEN-YELLOW);
  }
  
  .quick-links li {
    margin: 10px 0;
  }
  
  .quick-links li a {
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
  }
  
  .quick-links li a:hover {
    text-decoration: underline; 
  }
  

  .contact-section {
    margin: 20px 0;
  }
  
  .contact-section .top {
    margin-bottom: 10px;
    font-size: .8rem;
    font-weight: bold;
  }

  .address{
    font-size: .8rem;
  }
  
  /* Responsive Styling for smaller screens */
  @media (max-width: 768px) {
    .contains {
      flex-direction: column;
    }
  
    .logo img {
      width: 100px; 
    }
  }
  
  .mail{
    padding-top: .5rem;
    font-size: .8rem;
  }

  .rule{
    margin: 2rem;
    height: .1px;
    opacity: 0.2;
    border: none;
    background-color: white;
  }

  .left-float{
    font-size: .7rem;
    padding: 1rem 2rem;
    display: inline;
  }

  .socials{
    float: right;
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }

  .socials img{
    width: 25px;
    margin: 0 .5rem;
  }

.comment-box{    
    text-align: left;
    border: 2.5px solid #e8e9eb;
    border-radius: 8px;
    padding: 1.5rem;
    height: 9rem;
    width: 80%;
}

.comment-box img{
    border-radius: 50%;
}

.comment-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
    padding-bottom: 2rem;
}

.mobile-explore-btn{
    text-align: center;
    margin-top: 25rem;
    display: none;
}



.hamburger{
    position: relative;
    width:40px;
    cursor: pointer;
    border-radius: 20px;
    background: none;
    border: none;
    float: right;
    z-index: 100;
    display:none;
}

.hamburger .bar, .hamburger::after, .hamburger::before{ 
    content:'';
    display: block;
    width:100%;
    height: 3px;
    background-color:white;
    margin: 6px 0px;
    transition: 0.4s;
    background-color: var(--GOLDEN-YELLOW);
    border-radius: 5px;
}

.hamburger.is-active:before{
    transform: rotate(-45deg) translate(-8px, 7px);
    background-color: white;
}

.hamburger.is-active:after{
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: white;
}

.hamburger.is-active .bar{
    opacity: 0;
}

.mobile-nav{
    display:none;
    width:500%;
    position: fixed;
    top: 0;
    left:100%; 
    margin: 0;
    z-index:98;
    background-color: var(--GOLDEN-YELLOW); 
    margin-left:50%;
    min-height:100vh;
    padding:15%;
    padding-top:30%;
    transition: 0.4s ease;
}

.mobile-nav.is-active{
    left: 0;
}
.mobile-nav button{
    display: block;
    text-align: center;
    margin-bottom:16px;
    width: fit-content;
    padding: 12px 16px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    margin-top:30px;
    text-align: center;
}

.mobile-nav a{
    text-decoration: none;
    color: white;
    text-align: center;
}



/*Media Queries*/

@media all and (max-width:807px){
    .nav{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .mobile-nav{
        display: block;
    }

    .main-page{
        padding: .8rem;
    }
}

@media all and (max-width:1083px){
     .first-card, .second-card, .third-card, .fourth-card{
        width: 30%;
    } 

    .fourth-card{
        margin-top: 2rem;
    }
}

@media all and (orientation:portrait){
    .card-container{
        flex-direction: column;
        padding: 0;
    }

    .all-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .first-card, .second-card, .third-card, .fourth-card{
        width: 80vw;
        margin-bottom: 2rem;
    }

    .nav{
        display: none;
    }

    .word{
        margin-top: 5rem;
    }

    .short-note{
        padding: 0 3rem;
    }

    .contains{
        flex-direction: column;
    }

    .down{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }
}

@media all and (max-width:980px){
    .word{
        text-align: center;
        width: 80%;
        float: none;
        font-size: 2.5rem;
    }

    .head-text{
        font-size: 2.5rem;
    }

    .expertise .title{
        text-align: center;
    }

    .explore-btn{
        display: none;
    }

    .mobile-explore-btn{
        display: block;
    }
}

@media all and (max-width:1195px){
    .section-container{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .each-section{
        width: 80vw;
        margin-bottom: 2rem;
    }

    .section-title-media, .section-note{
        text-align: center;
    }

    .section-note{
        margin-bottom: 2rem;
    }
}

@media all and (max-width:789px){
    .head-text{
        font-size: 2rem;
        padding-bottom: 2rem;
    }
}

@media all and (max-width:526px){
    .section-title-media{
        padding-left:2rem;
        padding-right: 2rem;
    }
}

@media all and (max-width:480px){
    .word{
        width: 90%;
        padding: 0;
    }
}

@media all and (max-width:429px){
    .head-text{
        padding: 1rem 1rem;
    }
}

@media all and (max-width:426px){
    .mobile-explore-btn{
        margin-top: 25rem;
    }

    .word{
        margin-top: 1rem;
        font-size: 2rem;
    }

    .head-text{
        font-size: 2rem;
    }
}

@media all and (max-width:439px){
    .expertise-green{
        padding: 2.5rem 4rem;
    }
}

@media all and (max-width:372px){
    .expertise-green{
        padding: 2.5rem 2rem;
    }
}


